header {
    position: relative;
    z-index: 2;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;

    // Ноутбуки и десктопы
    @media (min-width: 992px) and (max-width: 1199px) {
        padding: 0 4%;

    }

    // Планшеты и ноутбуки
    @media (min-width: 768px) and (max-width: 991px) {
        padding: 0 3%;

    }

    // Стандартный телефон
    @media (max-width: 767px) {
        padding: 0 2%;
    }

    // Маленькиие телефоны
    @media (max-width: 480px) {
        padding: 0 2%;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.262);

    }



    .logo {
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid white;
        border-radius: 10px;

        @media (max-width: 767px) {
            height: 70px;
            width: 70px;
        }

        @media (max-width: 480px) {
            height: 50px;
            width: 50px;

        }
    }

    .burgerMenu {
        display: none;

    }

    .noneBurger {
        display: none;
    }

    .burgerMenuActive {
        transform: translateY(-100%);
        transition: all .3s;
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.848);
        width: 100%;
        height: max-content;
        &.active {
            transform: translateY(0);
        }

        // Ноутбуки и десктопы
        @media (min-width: 992px) and (max-width: 10000px) {
            display: none;
        }

        // Планшеты и ноутбуки
        @media (min-width: 768px) and (max-width: 991px) {
            display: none;
        }

        // Стандартный телефон
        @media (max-width: 767px) {
            display: block;
        }

        // Маленькиие телефоны
        @media (max-width: 480px) {
            display: block;

        }

        &__header {
            padding: 15px 10px;
            height: 80px;
            display: flex;
            align-content: center;
            justify-content: end;

            &__close {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 20px;
                color: white;
                width: 50px;
                height: 50px;

            }
        }

        &__listBuger {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-size: 20px;

            &__item {
                color: white;
                padding: 10px 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: max-content;
                text-decoration: none;
                font-size: 18px;
            }
        }

    }

    .list {
        display: flex;
        justify-content: space-between;
        font-size: 20px;

        &__burger {
            width: max-content;
            display: none;
            height: 30px;

            span {
                width: 40px;
                height: 5px;
                border-radius: 5px;
                background-color: white;
            }

            @media (max-width: 767px) {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

            }


        }

        &__item {
            color: white;
            padding: 10px 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: max-content;


            text-decoration: none;
            display: inline-block;
            line-height: 1;

            // Стандартный телефон
            @media (max-width: 767px) {
                display: none;

            }


            &:after {
                display: block;
                content: "";
                height: 3px;
                width: 0%;
                background-color: white;
                transition: width 0.5s ease-in-out;
            }

            &:hover::after,
            &:focus::after {
                width: 100%;
            }

        }

        // Ноутбуки и десктопы
        @media (min-width: 992px) and (max-width: 1199px) {
            width: 700px;
            font-size: 18px;

        }

        // Планшеты и ноутбуки
        @media (min-width: 768px) and (max-width: 991px) {
            font-size: 15px;
            width: 600px;

        }




    }

}